<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Health" type=" Health.Configuration.Configuration, Health.Core" />
  </configSections>
    <system.diagnostics>
    <switches />
    <trace autoflush="true" />
    <sources>
      <source name="Health" switchValue="Warning">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="eventLog">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="eventLog" type="System.Diagnostics.EventLogTraceListener" traceOutputOptions="None" initializeData="Health.Agent" />
    </sharedListeners>
  </system.diagnostics>
  <Health dc="Kenya" node="BizTalk.Agent">
    <ServiceBus connectionString="Endpoint=sb://toyota-tsusho-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8yZsAvTz4kDAp28uAyYoXK/ZYFunv0RCb8kQzaAYUOA=" />
  </Health>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>