<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="BizTalk">
        <endpoint address="sap://CLIENT=110;LANG=EN;@a/172.29.2.13/00?ListenerDest=ZTALO&amp;ListenerGwServ=sapgw00&amp;ListenerGwHost=172.29.2.13&amp;ListenerProgramId=BizTalk&amp;RfcSdkTrace=False&amp;AbapDebug=False" binding="sapBinding" bindingConfiguration="SAPBinding" name="WcfReceiveLocation_SAPBinding_Rfc_Custom" contract="BizTalk" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior" />
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <sapBinding>
        <clear />
        <binding name="SAPBinding" enableBizTalkCompatibilityMode="false" enableSafeTyping="true" />
      </sapBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="azureStorageBehaviour" type="Microsoft.BizTalk.Wcf.Components.AzureStorageBehaviorExtension,Microsoft.BizTalk.Wcf.Components, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>