<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
        </add>
        <add name="textFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
        </add>
        </listeners>
    </trace>
  </system.diagnostics>
</configuration>