<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="User" value="toyota\Crmuser"/>
    <add key="Password" value="P@ssw0rd"/>
  </appSettings>
  <connectionStrings>
    <add name="CRM" connectionString="http://172.29.2.10/TMAU/XRMServices/2011/Organization.svc"/>
  </connectionStrings>
  <system.diagnostics>
    <switches/>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.XmlWriterTraceListener" name="xml" traceOutputOptions="None" initializeData="Service.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json"
            automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="OnRampBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <addressBehavior address="http://localhost/Toyota.Tsusho.CRM.Services.Generic.WCF/OnRamp.svc"
            hostReplace="FQDN" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="addressBehavior" type="Toyota.Tsusho.ServiceModel.EndpointAddressBehaviorExtensionElement, Toyota.Tsusho.ServiceModel"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
    <services>
      <service behaviorConfiguration="OnRampBehavior" name="Toyota.Tsusho.CRM.API.ServiceImplementation.OrderService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="" name="OrderService.wsHttp"
          contract="Toyota.Tsusho.CRM.API.ServiceContracts.IOrderService" />
      </service>
      <service behaviorConfiguration="OnRampBehavior" name="Toyota.Tsusho.CRM.API.ServiceImplementation.ContactService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="" name="ContactService.wsHttp"
          contract="Toyota.Tsusho.CRM.API.ServiceContracts.IContactService" />
      </service>
      <service behaviorConfiguration="OnRampBehavior" name="Toyota.Tsusho.CRM.API.ServiceImplementation.StockService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="" name="StockService.wsHttp"
          contract="Toyota.Tsusho.CRM.API.ServiceContracts.IStockService" />
      </service>
      <service behaviorConfiguration="OnRampBehavior" name="Toyota.Tsusho.CRM.API.ServiceImplementation.LookupService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="" name="LookupService.wsHttp"
          contract="Toyota.Tsusho.CRM.API.ServiceContracts.ILookupService" />
        <endpoint address="/rest" behaviorConfiguration="RESTBehavior"
          binding="webHttpBinding" bindingConfiguration="" name="LookupService.webHttp"
          contract="Toyota.Tsusho.CRM.API.ServiceContracts.IRESTLookupService" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>