<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <switches />
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.XmlWriterTraceListener" name="xml" traceOutputOptions="None" initializeData="Service.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="OnRampBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <addressBehavior address="http://localhost/Toyota.Tsusho.CRM.Services.Generic.WCF/OnRamp.svc" hostReplace="FQDN" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="addressBehavior" type="Toyota.Tsusho.ServiceModel.EndpointAddressBehaviorExtensionElement, Toyota.Tsusho.ServiceModel" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
    <services>
      <service name="Toyota.Tsusho.CRM.API.ServiceImplementation.OrderService" behaviorConfiguration="OnRampBehavior">
        <endpoint binding="wsHttpBinding"
                  bindingConfiguration=""
                  name="OrderService.wsHttp"
                  contract="Toyota.Tsusho.CRM.API.ServiceContracts.IOrderService" />
      </service>
      <service name="Toyota.Tsusho.CRM.API.ServiceImplementation.ContactService" behaviorConfiguration="OnRampBehavior">
        <endpoint binding="wsHttpBinding"
                  bindingConfiguration=""
                  name="ContactService.wsHttp"
                  contract="Toyota.Tsusho.CRM.API.ServiceContracts.IContactService" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
