<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="OrderService.wsHttp">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.29.2.13/Toyota.Tsusho.TALO.Services.Generic.WCF/OnRamp.svc"
                binding="wsHttpBinding" bindingConfiguration="OrderService.wsHttp"
                contract="OrderServiceReference.IOrderService" name="OrderService.wsHttp" />
        </client>
    </system.serviceModel>
</configuration>