<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Activities" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activities" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.XmlWriterTraceListener" name="xml" traceOutputOptions="None" initializeData="Service.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="RESTCall">
          <security mode="None"/>
        </binding>      
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="Toyota.Tsusho.CRM.Services.Generic.OnRamp">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.211.55.6/Toyota.Tsusho.CRM.Services.Generic.WCF/OnRamp.svc" 
                binding="wsHttpBinding" 
                name="Toyota.Tsusho.CRM.Services.Generic.OnRamp" 
                bindingConfiguration="Toyota.Tsusho.CRM.Services.Generic.OnRamp" 
                contract="IContactService" />
      <endpoint address="http://gdata.youtube.com/feeds/api/videos?v=2&=jsonc&category=Music&orderby=viewCount&max-results=10&q=kings+of+chaos"
                binding="webHttpBinding"
                bindingConfiguration="RESTCall"
                name="RESTCall"
                contract="http://tempuri.org/IService"/>
    </client>
    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>