<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="User" value="toyota\Crmuser"/>
    <add key="Password" value="P@ssw0rd"/>
  </appSettings>
  <connectionStrings>
    <add name="CRM" connectionString="http://172.29.2.10/TMAU/XRMServices/2011/Organization.svc"/>
  </connectionStrings>
</configuration>